@import 'styles/theme';

.stat-item {
  .card-header {
    .card-header-title {
      display: inline;
      text-align: center;
      color: $primary-color;
    }
  }

  .card-content {
    padding-top: 10px;

    .content {
      text-align: center;
      color: $text-color;

      .score-text {
        font-size: 0.8rem;
      }

      .score-content {
        font-size: 2.5rem;
        letter-spacing: 2px;
      }
    }
  }
}