.result-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.result-item:not(:last-child) {
  border-bottom: 1px solid  #fafafa;
}

.result-item.wrong {
  background: #ffd7d7;
}

.result-item.right {
  background: #e8ffdf;
}

.result-item .columns, .result-item .column {
  margin: 0;
  padding: 0;
}

.result-item .result-item-question, .result-item .result-item-correct {
  padding-left: 10px;
  padding-right: 10px;
}

.result-item-user-icon-container .icon {
  width: 50px;
}

.result-item.wrong .result-item-user-answer-container p {
  text-decoration: line-through;
}