@import 'styles/theme';

.result-item {
  padding-top: 10px;
  padding-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid  $light-color;
  }

  &.right {
    background: $light-success-color;

    .result-item-user-icon-container .icon,
    .result-item-user-answer-container p {
      color: $success-color;
    }
  }

  &.wrong {
    background: $light-danger-color;

    .result-item-user-icon-container .icon {
      color: $danger-color;
    }

    .result-item-user-answer-container p {
      color: $danger-color;
      text-decoration: line-through;
    }
  }

  .columns {
    margin: 0;
    padding: 0;

    .column {
      margin: 0;
      padding: 0;
    }

    .result-item-question, .result-item-correct {
      padding-left: 10px;
      padding-right: 10px;
      
      span {
        font-weight: bold;
      }
    }

    .result-item-user-icon-container {
      .icon {
        width: 50px;
      }
    }
  }
}
