@import 'styles/theme';

.result-item {
  padding-top: 10px;
  padding-bottom: 10px;

  &.right {
    .result-item-user-icon-container .icon,
    .result-item-user-answer-container p {
      color: $success-color;
    }
  }

  &.wrong {
    .result-item-user-icon-container .icon,
    .result-item-user-answer-container p {
      color: $danger-color;
    }
  }
}

.result-item:not(:last-child) {
  border-bottom: 1px solid  $light-color;
}

.result-item.wrong {
  background: $light-danger-color;
}

.result-item.right {
  background: $light-success-color;
}

.result-item .columns, .result-item .column {
  margin: 0;
  padding: 0;
}

.result-item .result-item-question, .result-item .result-item-correct {
  padding-left: 10px;
  padding-right: 10px;
  
  span {
    font-weight: bold;
  }
}

.result-item-user-icon-container .icon {
  width: 50px;
}

.result-item.wrong .result-item-user-answer-container p {
  text-decoration: line-through;
}