/* main background color of the app */
$main-bg-color: #fafafa;

/* Primary color */
/* green-ish #86d12f */
/* blue-ish #308bd6 */
/* red-ish #d45248 */
$primary-color: #308bd6;
$primary-color-op-80: rgba($primary-color, 0.8);
$primary-color-op-0: rgba($primary-color, 0);

/* Top banner */
$gradient-start: lighten(adjust-hue($primary-color, 25%), 10%);
$gradient-stop: lighten(saturate($primary-color, 25%), 10%);
$app-title-color: lighten($gradient-stop, 30%);

/* text color */
$text-color: rgb(100, 100, 100);
/* success color */
$success-color: #c3d630;
$light-success-color: #e8ffdf;
/* danger color */
$danger-color: #d62f2f;
$light-danger-color: #ffd7d7;
/* really dark grey */
$dark-grey: rgba(10, 10, 10, 0.1);
/* light grey (for disabled content) */
$light-grey: #cacaca;

$light-color : #ffffff;