@import 'styles/theme';

.quiz-thumbnail {
  cursor: pointer;

  &.disabled {
    cursor: default;
    color : $light-grey;
  }

  .card-header {
    .card-header-title {
      font-weight: normal;
      font-style: italic;
      font-size: 0.9rem;
      color: $primary-color;
    }
  }

  .card-content {
    .content {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .quiz-thumbnail .card-content {
    .content {
      font-size: 1.8rem;
    }
  }
}