.quiz-thumbnail {
  cursor: pointer;
}

.quiz-thumbnail.disabled {
  cursor: default;
  color : #cacaca;
}

.quiz-thumbnail:not(.disabled):hover {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 1px 10px rgba(10, 10, 10, 0.1);
}

.card-header-title {
  font-weight: normal;
  font-style: italic;
  font-size: 0.9rem;
}

.card-content .content {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .card-content .content {
    font-size: 1.2rem;
  }
}