.quiz-thumbnail {
  cursor: pointer;
}

.quiz-thumbnail.disabled {
  cursor: default;
  color : #cacaca;
}



.card-header-title {
  font-weight: normal;
  font-style: italic;
  font-size: 0.9rem;
}

.card-content .content {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .card-content .content {
    font-size: 1.2rem;
  }
}