@import 'styles/theme';

.home-content {
  .input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $primary-color;
    box-shadow: none;
    border-radius: 0px;
    font-weight: bold;
    padding-left: 0;
    color: $primary-color;
  }

  .level.is-mobile {
    .level-right {
      .level-item {
        margin-right: 0;
      }
    }
  }
}