.input {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-radius: 0px;
  border-width: 2px;
  font-weight: bold;
  padding-left: 0;
}

.stats-btn {
  width: 50px;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.level.is-mobile .level-right .level-item {
  margin-right: 0;
}