.app-header {
  background-color: rgb(202, 202, 202);
}

.app-header-title {
  color: #818181;
  padding: 30px;
}

.app-subheader {
  background-color: rgb(224, 224, 224);
  color: rgb(43, 43, 43);
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-subheader label {
  font-size: 1.5em;
}

.app-subheader input {
  font-size: 1.5em;
  
}