.app-header {
  text-align: center;
  background: linear-gradient(to bottom right,#A1B601, #D6E749);
  /* border-bottom: 1px solid #C3D630; */
}

.app-header-title {
  color: rgb(238, 255, 199);
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  letter-spacing: 5px;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .app-header-title {
    font-size: 1.2rem;
  }
}