@import 'styles/theme';

.result-content {
  .username {
    color: $primary-color;
    font-weight: bold;
  }

  .container {
    .card-header {
      .card-header-title {
        font-style: normal;
        font-size: 1.5rem;
        color: $text-color;
      }
    }

    .result-card-content {
      padding-top: 20px;
      padding-bottom: 20px;

      .content {
        color: $text-color;

        .content-score {
          text-align: center;
          padding-bottom: 20px;

          .score-text {
            font-size: 1rem;
          }

          .score-content {
            font-size: 2.5rem;
          }
        }

        .content-show-btn {
          text-align: center;
        }

        .content-detail {
          margin-top: 20px;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .result-content {
    .container {
      .card-header {
        .card-header-title {
          font-size: 1.1rem;
        }
      }
    }
  }
}