@import url('https://rsms.me/inter/inter-ui.css'); /* Inter UI font */

body,
button,
input,
select,
textarea {
  font-family: "Inter UI", "Helvetica", "Arial", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
