@import 'styles/theme';

.app-subheader {
  background-color: $light-color;
  color: $text-color;
  padding-left: 24px;
  border-bottom: 1px solid $primary-color;

  .level-item {
    height: 50px;
  }
}